.search-input{
 width: 70%;
 height: 20px;
 align-self: center;
 padding: 2px 0px  2px 15px ;
 border-radius: 10px;
 border: none;
 font-size: 1.5rem;
 margin-bottom: 15px;
}
.search-input:focus{
 outline: solid 2px blue;
}