:root{
  --main-bg-color: rgb(126, 126, 126);
  --todo-card-color:rgb(93, 93, 93); 
 }

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
}

.main-container{
  display: flex;
  position: relative;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 30%;
  min-width: 270px;
  height: fit-content;
  min-height: 500px;
  right: 30px;
  top: 30px;
}
.second-container{
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  min-width: 270px;
  height: fit-content;
  min-height: 500px;
  background-color: var(--main-bg-color);
}
.aviso-text{
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
  font-weight: bold;
}
.confirm-modal{
  position: absolute;
  display: none;
  width: 70%;
  height: 80px;
  align-self: center;
  top: calc(50% - 40px);
 }
 
 .create-modal{
  display: none;
  position: absolute;
  width: 85%;
  height: min-content;
  min-height: 210px;
  align-self: center;
  top: calc(50% - 105px);
 }
 .inactive{
  display: flex;
 }