:root{
  --main-bg-color: rgba(84, 84, 84, 0.467);
  --todo-second-color:rgba(97, 97, 97, 0.545); 
 }

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
}

.main-container{
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 25%;
  min-width: 320px;
  height: max-content;
  min-height: 500px;
  max-height: 80%;
  right: 8%;
  top: 30px;
}
.second-container{
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  min-height: 500px;
  background-color: var(--main-bg-color);
}
.aviso-text{
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
  font-weight: bold;
}
.confirm-modal{
  position: absolute;
  display: none;
  width: 70%;
  height: 80px;
  align-self: center;
  top: calc(50% - 40px);
 }
 
 .create-modal{
  display: none;
  position: absolute;
  width: 85%;
  height: min-content;
  min-height: 210px;
  align-self: center;
  top: calc(50% - 105px);
 }
 .inactive{
  display: flex;
 }
 @media (max-width: 700px){
  .main-container{
    display: flex;
    width:320px;
    right: calc(50% - 170px);

  }
 
 }