.create-section{
 display: flex;
 position: relative;
 flex-direction: column;
 width: 100%;
 height: 100%;
 min-height: 210px;
 background-color: white;
 padding: 5px;
 border-radius: 10px;
 cursor: default;
 top: 40px;
}
.create-title{
 font-size: 2.2rem;
 text-align: center;
 margin: 10px;
}

.title-text{
 font-size: 2rem;
}
.description-text{
 font-size: 2rem;
 
}

.title-in, .description-in{
 width: 90%;
 align-self: center;
 margin: 10px;
 border-radius: 7px;
 border: 1px solid black;
}

.cancelC{
 width: 60px;
 position: absolute;
 bottom: 8px;
 right: 73px;
 cursor: pointer;

}
.confirmC{
 width: 60px;
 position: absolute;
 bottom: 8px;
 right: 8px;
 cursor: pointer;
}

